.wy-side-nav-search {
    background-color: #eee;
    color:#000;
}

.wy-nav-top {
    background-color: #eee;
    color:#000
}

span.caption-text {
    color: #333;
  }

  .wy-side-nav-search>a, 
  .wy-side-nav-search .wy-dropdown>a,
  .wy-nav-top a {
    color: #333;
  }

  .wy-nav-side {
    background: #ccc;
}

.wy-table-responsive table td, 
.wy-table-responsive table th {
      white-space: normal !important;
}
  
.rst-content section ul {
      list-style: disc;
      line-height: 24px;
      margin-bottom: 24px;
}
  
.rst-content section ul li {
      list-style: disc;
      margin-left: 24px;
}
  
.rst-content section ul li p:last-child {
      margin-bottom: 0;
}